
.physician{
    a:link{
        font-size: 1.5rem;
    }
    a{
    color: lightBlue;
    }
    ul{
    margin-top: 20px;
    }
    img{
    width: 25rem;
    }
    div{
        margin-top: 4rem;
    }
}