h1{
    text-align: center;
}

.assistance {
    display: flex;
    align-items: center;

    .support{
        width: 25rem;
        margin-right: 7rem;
    }

    .logo{
        width: 5rem;
    }
}

i{
    font-size: 3rem;
    padding: 0 1rem;
    color: blue;
    }

.phone{
    display: flex;
    align-items: center;
}

