@import "../Variables/variables";

header {
    text-align: center;
    height: 150px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: white;
    padding: 0 20px;
}

.custom-navbar {
    background-color: $darkBlue;
  }

.navbar-expand-lg .navbar-nav .nav-link:not(:last-child) {
    border-right: 1px solid white;
}

header img{
    height: 120px;
}

.collapse.show {
    background-color: $darkBlue;
    width: 100vw;
}


.menu,
.menu:hover,
.menu:focus{
    color:#e471fc;
}

