
/* REGLES CSS - FONT-FACE */
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/* CUSTOM HTML ELEMENTS */

body {
  font-family: "Lato-Regular";
  color: darkblue;
}

h1{
  font-size: 1.7rem;
  padding-top: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  padding: 20px;
}

h3 {
  font-size: 1.2rem;
}

main{
  text-align: center;
  min-height: 60vh;
}

section {
  padding-top: 50px;
}

p {
  font-size: 1.2rem;
}

/* COMPONENTS */


a {
  text-decoration: none;
  color: #0e6b99;
}

a:hover{
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

input{
  margin-bottom: 10px;
}

button{
  margin: 1.5rem;
}

.btn-1 {
  background: rgb(6, 14, 131);
  background: linear-gradient(0deg, rgb(6, 14, 131) 0%, rgb(12, 25, 180) 100%);
  border: none;
  width: 300px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-1:hover {
  background: rgb(54, 104, 230);
  background: linear-gradient(0deg, rgb(116, 110, 228) 0%, rgb(92, 90, 219) 100%);
}


.btn-2 {
  width: 170px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.btn-3 {
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background-color: #f94d03;
  background-image: linear-gradient(315deg, #ff6200 0%, #f7a604 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-3:hover{
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #f1d81d 0%, #ffa600 74%);
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: .1px;
  }
  .btn-3:after {
    width: 0%;
    height: .1px;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: .1px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: .1px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }





.btn-4 {
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-4:hover{
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4:before {
    height: 0%;
    width: .1px;
  }
  .btn-4:after {
    width: 0%;
    height: .1px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: .1px;
    height: 0%;
  }
  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }

  .btn-5 {
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #f17add 0%, #e471fc 74%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-5:hover{
      background-color: #89d8d3;
    background-image: linear-gradient(315deg, #eb7ace 0%, #f1bcf1 74%);
    }
    .btn-5 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-5:before,
    .btn-5:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
       box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      transition: all 0.3s ease;
    }
    .btn-5:before {
      height: 0%;
      width: .1px;
    }
    .btn-5:after {
      width: 0%;
      height: .1px;
    }
    .btn-5:hover:before {
      height: 100%;
    }
    .btn-5:hover:after {
      width: 100%;
    }
    .btn-5 span:before,
    .btn-5 span:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      transition: all 0.3s ease;
    }
    .btn-5 span:before {
      width: .1px;
      height: 0%;
    }
    .btn-5 span:after {
      width: 0%;
      height: .1px;
    }
    .btn-5 span:hover:before {
      height: 100%;
    }
    .btn-5 span:hover:after {
      width: 100%;
    }

    .btn-6 {
      width: 250px;
      height: 70px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
      background: rgb(96,9,240);
      background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
      border: none;
      
    }
    .btn-6:before {
      height: 0%;
      width: 2px;
    }
    .btn-6:hover {
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }
    

    .btn-7 {
      width: 200px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
      background-color: #4dccc6;
      background-image: linear-gradient(315deg, #11ff88 0%, #1bfff4 74%);
        line-height: 42px;
        padding: 0;
        border: none;
      }
      .btn-7:hover{
        background-color: #89d8d3;
      background-image: linear-gradient(315deg, #89d896 0%, #03c8a8 74%);
      }
      .btn-7 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .btn-7:before,
      .btn-7:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
         box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.9),
          inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        transition: all 0.3s ease;
      }
      .btn-7:before {
        height: 0%;
        width: .1px;
      }
      .btn-7:after {
        width: 0%;
        height: .1px;
      }
      .btn-7:hover:before {
        height: 100%;
      }
      .btn-7:hover:after {
        width: 100%;
      }
      .btn-7 span:before,
      .btn-7 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.9),
          inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        transition: all 0.3s ease;
      }
      .btn-7 span:before {
        width: .1px;
        height: 0%;
      }
      .btn-7 span:after {
        width: 0%;
        height: .1px;
      }
      .btn-7 span:hover:before {
        height: 100%;
      }
      .btn-7 span:hover:after {
        width: 100%;
      }
