.mobilePic{
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content horizontally to center */
        h1{padding-bottom: 3rem;
        };
        img{width: 20rem;
        };
        p{
    padding: 1rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
        }
}
