#banner{
    background-image: url("/public/img/banner.png");
    color: white;

    h1{
        font-weight: bold;
        font-size: 2rem;
    }

.mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    img{
        width: 15rem;
    }

    button{
        border-radius: 10px;
        background-color: rgb(168, 196, 237);
        padding: 0.9rem;
    }
    button:hover{
        background-color: rgb(245, 123, 221)
    }
}

#presentation{
    ul{
        display: block;
    }

    li{
        font-size: 1.3rem;
        padding-top: 40px;
    }

    a{
        font-size: 1.3rem;
    }

    a:hover{
        color: purple;
    }

    .purple{
        color: purple;
    }
}

#services{
    margin-top: 5rem;
    margin-bottom: 1rem;

    img{
        width: 100px;
        height: 100px;
    }
    img:hover{
        background-color: purple;
    }

    h2{
        padding: 40px;

    }

    h3{
        padding-bottom: 40px;
    }

    a:hover{
        color: purple;
    }
}

#testimonials{
    div{
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    h3{
        color: purple;
    }
}